---
http_interactions:
- request:
    method: get
    uri: http://ci.nii.ac.jp/books/opensearch/search?count=10&format=rss&p=1&q=library
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/rss+xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?><rdf:RDF xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:dcterms="http://purl.org/dc/terms/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:opensearch="http://a9.com/-/spec/opensearch/1.1/" xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#" xmlns:prism="http://prismstandard.org/namespaces/basic/2.0/" xmlns:cinii="http://ci.nii.ac.jp/ns/1.0/" xmlns="http://purl.org/rss/1.0/">
        <channel rdf:about="http://ci.nii.ac.jp/books/opensearch/search?count=10&amp;q=library&amp;p=1&amp;format=rss">
        <title>CiNii Books OpenSearch - 10 library 1</title>
        <description>CiNii Books OpenSearch - 10 library 1</description>
        <link>http://ci.nii.ac.jp/books/opensearch/search?count=10&amp;q=library&amp;p=1&amp;format=rss</link>
        <dc:date>2015-11-04T03:23:40+0900</dc:date>
        <opensearch:totalResults>164010</opensearch:totalResults>
        <opensearch:startIndex>0</opensearch:startIndex>
        <opensearch:itemsPerPage>10</opensearch:itemsPerPage>
        <items>
        <rdf:Seq>
        <rdf:li rdf:resource="http://ci.nii.ac.jp/ncid/BA10547663"/>
        <rdf:li rdf:resource="http://ci.nii.ac.jp/ncid/BA35998221"/>
        <rdf:li rdf:resource="http://ci.nii.ac.jp/ncid/BA48143394"/>
        <rdf:li rdf:resource="http://ci.nii.ac.jp/ncid/BA26254788"/>
        <rdf:li rdf:resource="http://ci.nii.ac.jp/ncid/BA12212848"/>
        <rdf:li rdf:resource="http://ci.nii.ac.jp/ncid/BA72991593"/>
        <rdf:li rdf:resource="http://ci.nii.ac.jp/ncid/BA11561058"/>
        <rdf:li rdf:resource="http://ci.nii.ac.jp/ncid/BA11345904"/>
        <rdf:li rdf:resource="http://ci.nii.ac.jp/ncid/BA01218354"/>
        <rdf:li rdf:resource="http://ci.nii.ac.jp/ncid/BA10121322"/>
        </rdf:Seq>
        </items>
        </channel>
        <item rdf:about="http://ci.nii.ac.jp/ncid/BA10547663">
        <title>Burndy Library publication</title>
        <link>http://ci.nii.ac.jp/ncid/BA10547663</link>
        <rdfs:seeAlso rdf:resource="http://ci.nii.ac.jp/ncid/BA10547663.rdf"/>
        <dc:creator/>
        <dc:publisher>The Library</dc:publisher>
        <cinii:ownerCount>0</cinii:ownerCount>
        </item>
        <item rdf:about="http://ci.nii.ac.jp/ncid/BA35998221">
        <title>Readers library</title>
        <link>http://ci.nii.ac.jp/ncid/BA35998221</link>
        <rdfs:seeAlso rdf:resource="http://ci.nii.ac.jp/ncid/BA35998221.rdf"/>
        <dc:creator/>
        <dc:publisher>Readers Library</dc:publisher>
        <cinii:ownerCount>0</cinii:ownerCount>
        </item>
        <item rdf:about="http://ci.nii.ac.jp/ncid/BA48143394">
        <title>Cornerstone library</title>
        <link>http://ci.nii.ac.jp/ncid/BA48143394</link>
        <rdfs:seeAlso rdf:resource="http://ci.nii.ac.jp/ncid/BA48143394.rdf"/>
        <dc:creator/>
        <dc:publisher>Cornerstone Library</dc:publisher>
        <cinii:ownerCount>0</cinii:ownerCount>
        </item>
        <item rdf:about="http://ci.nii.ac.jp/ncid/BA26254788">
        <title>Library series</title>
        <link>http://ci.nii.ac.jp/ncid/BA26254788</link>
        <rdfs:seeAlso rdf:resource="http://ci.nii.ac.jp/ncid/BA26254788.rdf"/>
        <dc:creator/>
        <dc:publisher>ISEAS Library</dc:publisher>
        <cinii:ownerCount>0</cinii:ownerCount>
        </item>
        <item rdf:about="http://ci.nii.ac.jp/ncid/BA12212848">
        <title>Occasional publication</title>
        <link>http://ci.nii.ac.jp/ncid/BA12212848</link>
        <rdfs:seeAlso rdf:resource="http://ci.nii.ac.jp/ncid/BA12212848.rdf"/>
        <dc:creator>Science Reference Library</dc:creator>
        <dc:publisher>British Library, Science Reference Library</dc:publisher>
        <cinii:ownerCount>0</cinii:ownerCount>
        </item>
        <item rdf:about="http://ci.nii.ac.jp/ncid/BA72991593">
        <title>Guildhall Library research guide</title>
        <link>http://ci.nii.ac.jp/ncid/BA72991593</link>
        <rdfs:seeAlso rdf:resource="http://ci.nii.ac.jp/ncid/BA72991593.rdf"/>
        <dc:creator/>
        <dc:publisher>Guildhall Library</[...]
