---
http_interactions:
- request:
    method: get
    uri: http://ci.nii.ac.jp/books/opensearch/search?count=10&format=rss&p=1&q=library
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://ci.nii.ac.jp/books/opensearch/search?q=library&p=1&count=10&format=rss
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 24 Dec 2017 04:38:27 GMT
- request:
    method: get
    uri: https://ci.nii.ac.jp/books/opensearch/search?count=10&format=rss&p=1&q=library
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/rss+xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?><rdf:RDF xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:dcterms="http://purl.org/dc/terms/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:opensearch="http://a9.com/-/spec/opensearch/1.1/" xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#" xmlns:prism="http://prismstandard.org/namespaces/basic/2.0/" xmlns:cinii="http://ci.nii.ac.jp/ns/1.0/" xmlns="http://purl.org/rss/1.0/">
        <channel rdf:about="http://ci.nii.ac.jp/books/opensearch/search?p=1&amp;q=library&amp;count=10&amp;format=rss">
        <title>CiNii Books OpenSearch - 1 library 10</title>
        <description>CiNii Books OpenSearch - 1 library 10</description>
        <link>http://ci.nii.ac.jp/books/opensearch/search?p=1&amp;q=library&amp;count=10&amp;format=rss</link>
        <dc:date>2017-12-24T13:38:27+09:00</dc:date>
        <opensearch:totalResults>170281</opensearch:totalResults>
        <opensearch:startIndex>0</opensearch:startIndex>
        <opensearch:itemsPerPage>10</opensearch:itemsPerPage>
        <items>
        <rdf:Seq>
        <rdf:li rdf:resource="http://ci.nii.ac.jp/ncid/BA90663224"/>
        <rdf:li rdf:resource="http://ci.nii.ac.jp/ncid/BA46821654"/>
        <rdf:li rdf:resource="http://ci.nii.ac.jp/ncid/BA28725003"/>
        <rdf:li rdf:resource="http://ci.nii.ac.jp/ncid/BA10547663"/>
        <rdf:li rdf:resource="http://ci.nii.ac.jp/ncid/BB1925588X"/>
        <rdf:li rdf:resource="http://ci.nii.ac.jp/ncid/BB09766306"/>
        <rdf:li rdf:resource="http://ci.nii.ac.jp/ncid/BA8763629X"/>
        <rdf:li rdf:resource="http://ci.nii.ac.jp/ncid/BA8440420X"/>
        <rdf:li rdf:resource="http://ci.nii.ac.jp/ncid/BA74586122"/>
        <rdf:li rdf:resource="http://ci.nii.ac.jp/ncid/BA72949575"/>
        </rdf:Seq>
        </items>
        </channel>
        <item rdf:about="http://ci.nii.ac.jp/ncid/BA90663224">
        <title>Lifetime library</title>
        <link>http://ci.nii.ac.jp/ncid/BA90663224</link>
        <rdfs:seeAlso rdf:resource="http://ci.nii.ac.jp/ncid/BA90663224.rdf"/>
        <dc:creator/>
        <dc:publisher>Books for Libraries</dc:publisher>
        <cinii:ownerCount>0</cinii:ownerCount>
        </item>
        <item rdf:about="http://ci.nii.ac.jp/ncid/BA46821654">
        <title>Popular library</title>
        <link>http://ci.nii.ac.jp/ncid/BA46821654</link>
        <rdfs:seeAlso rdf:resource="http://ci.nii.ac.jp/ncid/BA46821654.rdf"/>
        <dc:creator/>
        <dc:publisher>Popular Library</dc:publisher>
        <cinii:ownerCount>0</cinii:ownerCount>
        </item>
        <item rdf:about="http://ci.nii.ac.jp/ncid/BA28725003">
        <title>National [...]
