---
http_interactions:
- request:
    method: get
    uri: http://ci.nii.ac.jp/books/opensearch/search?count=10&format=rss&p=1&q=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://ci.nii.ac.jp/books/opensearch/search?q=test&p=1&count=10&format=rss
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 17 Feb 2018 13:06:48 GMT
- request:
    method: get
    uri: https://ci.nii.ac.jp/books/opensearch/search?count=10&format=rss&p=1&q=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/rss+xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?><rdf:RDF xml:lang="ja" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:dcterms="http://purl.org/dc/terms/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:opensearch="http://a9.com/-/spec/opensearch/1.1/" xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#" xmlns:prism="http://prismstandard.org/namespaces/basic/2.0/" xmlns:cinii="http://ci.nii.ac.jp/ns/1.0/" xmlns="http://purl.org/rss/1.0/">
        <channel rdf:about="http://ci.nii.ac.jp/books/opensearch/search?p=1&amp;q=test&amp;count=10&amp;format=rss">
        <title>CiNii Books OpenSearch - 1 test 10</title>
        <description>CiNii Books OpenSearch - 1 test 10</description>
        <link>http://ci.nii.ac.jp/books/opensearch/search?p=1&amp;q=test&amp;count=10&amp;format=rss</link>
        <dc:date>2018-02-17T22:06:48+09:00</dc:date>
        <opensearch:totalResults>30025</opensearch:totalResults>
        <opensearch:startIndex>0</opensearch:startIndex>
        <opensearch:itemsPerPage>10</opensearch:itemsPerPage>
        <items>
        <rdf:Seq>
        <rdf:li rdf:resource="http://ci.nii.ac.jp/ncid/BA14163266"/>
        <rdf:li rdf:resource="http://ci.nii.ac.jp/ncid/BB18014323"/>
        <rdf:li rdf:resource="http://ci.nii.ac.jp/ncid/BB05434188"/>
        <rdf:li rdf:resource="http://ci.nii.ac.jp/ncid/BB05214487"/>
        <rdf:li rdf:resource="http://ci.nii.ac.jp/ncid/BA76174068"/>
        <rdf:li rdf:resource="http://ci.nii.ac.jp/ncid/BA00651454"/>
        <rdf:li rdf:resource="http://ci.nii.ac.jp/ncid/BB17350970"/>
        <rdf:li rdf:resource="http://ci.nii.ac.jp/ncid/BB11520477"/>
        <rdf:li rdf:resource="http://ci.nii.ac.jp/ncid/BA50300600"/>
        <rdf:li rdf:resource="http://ci.nii.ac.jp/ncid/BA42168202"/>
        </rdf:Seq>
        </items>
        </channel>
        <item rdf:about="http://ci.nii.ac.jp/ncid/BA14163266">
        <title>The ETS Test Collection catalog</title>
        <link>http://ci.nii.ac.jp/ncid/BA14163266</link>
        <rdfs:seeAlso rdf:resource="http://ci.nii.ac.jp/ncid/BA14163266.rdf"/>
        <dc:creator/>
        <dc:publisher>Oryx Press</dc:publisher>
        <cinii:ownerCount>0</cinii:ownerCount>
        </item>
        <item rdf:about="http://ci.nii.ac.jp/ncid/BB18014323">
        <title>Nondestructive testing handbook</title>
        <link>http://ci.nii.ac.jp/ncid/BB18014323</link>
        <rdfs:seeAlso rdf:resource="http://ci.nii.ac.jp/ncid/BB18014323.rdf"/>
        <dc:creator/>
        <dc:publisher>American Society for Nondestructive Testing</dc:publisher>
        <cinii:ownerCount>0</cinii:ownerCount>
        </item>
        <item rdf:about="http://ci.nii.ac.j[...]
