---
http_interactions:
- request:
    method: get
    uri: http://ci.nii.ac.jp/books/opensearch/search?q=library%20system&p=1&count=10&format=rss
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/rss+xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <rdf:RDF xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:opensearch="http://a9.com/-/spec/opensearch/1.1/" xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#" xmlns:prism="http://prismstandard.org/namespaces/basic/2.0/" xmlns="http://purl.org/rss/1.0/">
        <channel rdf:about="http://ci.nii.ac.jp/books/opensearch/search?count=10&amp;q=library%20system&amp;p=1&amp;format=rss">
        <title>CiNii Books OpenSearch - 10 library system 1</title>
        <description>CiNii Books OpenSearch - 10 library system 1</description>
        <link>http://ci.nii.ac.jp/books/opensearch/search?count=10&amp;q=library%20system&amp;p=1&amp;format=rss</link>
        <dc:date>2013-02-25T15:30:52+0900</dc:date>
        <opensearch:totalResults>3137</opensearch:totalResults>
        <opensearch:startIndex>0</opensearch:startIndex>
        <opensearch:itemsPerPage>10</opensearch:itemsPerPage>
        <items>
        <rdf:Seq>
        <rdf:li rdf:resource="http://ci.nii.ac.jp/ncid/BA49885915"/>
        <rdf:li rdf:resource="http://ci.nii.ac.jp/ncid/AA10632899"/>
        <rdf:li rdf:resource="http://ci.nii.ac.jp/ncid/AA00227023"/>
        <rdf:li rdf:resource="http://ci.nii.ac.jp/ncid/BA06786762"/>
        <rdf:li rdf:resource="http://ci.nii.ac.jp/ncid/BA21080453"/>
        <rdf:li rdf:resource="http://ci.nii.ac.jp/ncid/BA07771013"/>
        <rdf:li rdf:resource="http://ci.nii.ac.jp/ncid/BA91258560"/>
        <rdf:li rdf:resource="http://ci.nii.ac.jp/ncid/BA63820104"/>
        <rdf:li rdf:resource="http://ci.nii.ac.jp/ncid/BA53745669"/>
        <rdf:li rdf:resource="http://ci.nii.ac.jp/ncid/BB09127329"/>
        </rdf:Seq>
        </items>
        </channel>
        <item rdf:about="http://ci.nii.ac.jp/ncid/BA49885915">
        <title>The Logos Library Systems</title>
        <link>http://ci.nii.ac.jp/ncid/BA49885915</link>
        <rdfs:seeAlso rdf:resource="http://ci.nii.ac.jp/ncid/BA49885915.rdf"/>
        <dc:creator/>
        <dc:publisher>Logos Research Systems</dc:publisher>
        <prism:publicationDate>1997</prism:publicationDate>
        <dc:date>1997</dc:date>
        </item>
        <item rdf:about="http://ci.nii.ac.jp/ncid/AA10632899">
        <title>Library systems</title>
        <link>http://ci.nii.ac.jp/ncid/AA10632899</link>
        <rdfs:seeAlso rdf:resource="http://ci.nii.ac.jp/ncid/AA10632899.rdf"/>
        <dc:creator/>
        <dc:publisher>Library Technology Reports, American Library Association</dc:publisher>
        <prism:publicationDate>1981</prism:publicationDate>
        <[...]
